.profilePicture {
  border-radius: 50%;
  float: left;
}
.usersContainer {
  background-color: papayawhip;
  color: black;
  font-weight: bold;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  border: solid 2px black;
}

.userList {
  border: 2px solid black;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    background-color: peachpuff;
  }
}

.userList p {
  width: 112px;
  text-align: start;
}
.countryFlag {
  width: 30px;
  height: 30px;
}
@media only screen and (max-width: 600px) {
  .profilePicture {
    width: 300px;
    height: 300px;
    float: none;
  }
  .usersContainer {
    width: 100%;
    margin-top: 110px;
    border: none;
  }
  .userList {
    width: 91%;
    margin-left: 20px;
    margin-top: 10px;
    margin-top: 20px;
    height: fit-content;
  }
  .userList p {
    width: fit-content;
    flex-wrap: wrap;
    margin-left: 9px;
    line-height: 40px;
    font-size: 14px;
  }
  .userListHeading {
    position: fixed;
    margin-top: -50px;
    z-index: 1;
    width: 100%;
    float: left;
  }
  .activeCount {
    font-size: 12px;
    margin-top: -29px;
    color: green;
    margin-left: 110px;
  }
  .userButtons {
    width: 47%;
    height: 40px;
    /* display: flex; */
    margin-left: 6px;
    bottom: 0;
    font-weight: bold;
    border-radius: 10px;
    background-color: papayawhip;
    color: black;
    margin-top: 30px;
    &:hover {
      color: white;
    }
  }
  .followButton {
    &:hover {
      background-color: rgb(25, 232, 25);
    }
  }
  .messageButton {
    &:hover {
      background-color: rgb(0, 0, 255);
    }
  }
}
