.companiesContainer{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1.5rem;
    width: 100%;
    background-color: white;
    color: black;
    font-weight: bold;

  }
