*{
  --color-one: #2A68ff;
  --color-two: #015366;
  --color-three: #63898c;
  --color-four: #a7d1d2;
  --color-five: #fff;
  --blueColor: #2a68ff;
  --greyish: #f1f4f8;
  --cardShadow: #f7f8f9;
  --textColor: #252b36;
  --border-color: #a3a3a3;
}
/* small screens */
.newNav {
  position: fixed;
  list-style-type: none;
  background-color: white;
  display: flex;
  z-index: 1000;
  padding: 0.2rem 0.5rem 0 0.5rem;
  bottom: 0;
  width: 100%;
  border-top: solid 1px var(--border-color);
}
.nameLogo,
.headerInNav {
  display: none;
  cursor: pointer;
}
.nameLogo,
.logo2 {
  transition: all ease-in-out 0.5s;
}
.newNav1{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.newNav2 {
  display: none;
}
.logo2 {
  font-size: 2rem;
  color: var(--color-one);

  &:hover {
    color: var(--color-two);
  }
}

/* large screens */
@media only screen and (min-width: 800px) {
  .newNav {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70px;
    height: 100vh;
    position: sticky;
    top: 0;
    border-right: solid 1px var(--border-color);
    padding-left: 0.5rem;
  }
  .headerInNav {
    display: block;
    padding-left: .5rem 0 0 .5rem;
  }
  .headerName{
    display: none;
  }
  .appLogo{
    display: block;
    margin: 0 0 0 .5rem;
  }
  .newNav1,
  .newNav2 {
    display: flex;
    flex-direction: column;
  }
  .newNav1 {
    gap: 1rem;
  }
  .newNav2 {
    gap: 0.5rem;
  }
  .nameLogo {
    font-size: 1rem;
  }
  .logo2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 14px;
    background-color: white;
    padding: .5rem 0 0.5rem .5rem;
  }
  .link {
    text-decoration: none;
  }
}
@media only screen and (min-width: 1000px) {
  .newNav {
    width: 200px;
  }
  .nameLogo,
  .headerInNav,
  .headerName {
    display: block;
  }
  .appLogo{
    display: none;
  }
  .headerName {
    font-size: 1.5rem;
    color: var(--color-one);
    margin-left: .5rem;
  }
  .logo2:hover {
    background-color: var(--color-one);
    color: white;
  
    .nameLogo {
      transform: scale(1.1);
      color: white;
      font-weight: 600;
    }
  }
}
