.newNav{
    list-style-type: none;
    background-color: white;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    z-index: 1000;
    padding-top: .5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.nameLogo{
    display: none;
}
.logo2{
    font-size: 2rem;
    color: #2a68ff;
}
@media only screen and (min-width: 800px){
    .newNav{
        list-style-type: none;
        background-color: white;
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        z-index: 1000;
        padding-top: .5rem;
        position: fixed;
        bottom: 0;
        width: 100%;
    
    }
}