.beyondChat {
display:flex;
height: 100vh;
}

.leftPanel {
background-color: #fff; 
width: 33.333333%;
}

.centerPanel {
background-color: #EFF6FF; 
  width: 66.666667%; 
}

.sendButton {
background-color: #3B82F6; 
padding: 0.5rem; 
color: #fff;
margin-top: 650px;
font-size: 25px;
}

.createMsgContainer{
  display: flex;
  gap: 0.5rem;
}



.beyondRegister {
  background-color: #EFF6FF; 
  height: 100vh;
}