@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Poppins", sans-serif;
  --blueColor: "#2a68ff";
  --greyish: "#f1f4f8";
  --cardShadow: "#f7f8f9";
  --textColor: "#252b36";
}

body {
  background-color: white;
  width: 100%;
  scroll-behavior: smooth;
  max-width: 100%;
}
.App {
  position: relative;
  max-width: 2000px;
  width: 100%;
  background-color: #ffffff;
  place-content: center;
}
/* header */
.logo {
  color: #2a68ff;
  font-size: 1.5rem;
}
/* Search Bar */
.searchDiv {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #126ce9;
  border: rounded 10px;
  padding-block: 2rem 1rem;
}

.firstDiv {
  display: flex;
  flex-direction: column;
  padding: 2rem 9rem 2rem 2rem;
  width: 100%;
  gap: 1.5rem;
  background-color: #fff;
}
.icon {
  display: flex;
  align-items: center;
}
.searchIcon {
  font-size: 1.5rem;
}
.input {
  background-color: transparent;
  color: #3b82f6;
  width: 100%;
  height: 100%;
  border: rgb(19, 28, 181) 2px dotted;
  border-radius: 10px;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin-left: 1rem;
  font-size: 1rem;
}
input[type="search"]::-webkit-search-cancel-button {
  background-color: red;
  outline: 1px solid red;
  border: 1px solid red;
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.input:focus {
  outline: none;
  border: rgb(22, 188, 200);
  box-shadow: 0.5px 0.5px 2px 1px rgb(13, 159, 213);
}
.one {
  width: 100%;
}
.secDiv {
  display: flex;
  flex-direction: column;
}

.singleSearch {
  padding: 1rem 1rem 0 1rem;
}
.relevanceLabel {
  font-size: 0.7rem;
  color: white;
  font-weight: 600;
}
.durationLabel {
  padding-right: 0.2rem;
}
.typeLabel {
  padding-right: 1.5rem;
}
.levelLabel {
  padding-right: 1.4rem;
}
.clearSelect {
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  border: none;
  align-self: center;
  margin-top: 1rem;
  padding-inline: 1rem 1rem;
  border-radius: 10px;
  color: white;
}
.clearSelect:hover {
  background-color: white;
  color: black;
}

.clearSelect:active {
  opacity: 0.7;
}
.selection {
  background-color: #fff;
  color: #2a68ff;
  border-radius: 10px;
  padding: 0.3rem 0.1rem;
  margin-inline: 0.1rem;
  border: none;
  cursor: pointer;
}
.selection:focus {
  border: none;
}

/* Job Content */
.jobsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  place-items: center;
  padding-block: 0.5rem;
  width: 100%;
}

/* head showing open jobs */
.head {
  display: none;
}
.header {
  grid-column: span 3;
}
/* individual containers */
.singleJob {
  max-width: 500px;
  width: 95%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px #05d0f3;
  transition: all ease-in-out 0.5s;

  &:hover {
    background-color: #2a68ff;
    box-shadow: 0 10px 15px -3px #0bbbc1;
    color: white;

    .applyBtn {
      color: black;
    }
    .companyLogo {
      border: solid white 2px;
      border-radius: 50%;
    }
    .companyName,
    .durationIcon,
    .jobInfo,
    .locationName,
    .singleJobHead {
      color: white;
    }
  }
}

.singleJobSpan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.singleJobHead,
.jobInfo,
.companyName {
  font-size: 1rem;
}
.singleJobHead {
  font-weight: 600;
}

.durationIcon {
  display: flex;
  align-items: center;
  color: #2a68ff;
  gap: 1px;
}
.locationName {
  color: #3b82f6;
}

.jobInfo {
  padding-top: 1rem;
  border-top: 2px solid;
  margin-top: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.company {
  display: flex;
  align-items: center;
  padding-block: 1rem;
  gap: 1rem;
  width: 100%;
}

.companyLogo {
  width: 70px;
  height: 70px;
  border: solid #2a68ff 2px;
  border-radius: 50%;
}
/* individual containers - button */
.applyBtn {
  border: none;
  border-radius: 10px;
  display: block;
  padding: 0.8rem;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: var(--textColor);
  transition: hover ease-in-out 0.5s;

  &:hover {
    cursor: pointer;
    color: black;
    background-color: whitesmoke;
    &:active {
      background-color: #05d0f3;
    }
  }
}
/* Company moto */
.motoDiv {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 2rem;
  gap: 1rem;
}

.motoQuote {
  color: var(--textColor);
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
}
.outerimgDiv {
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  background-color: aliceblue;
  transition: all ease-in-out 1s;

  &:hover {
    background-color: #2a68ff;
    color: white;
  }
}

.secondinimgDiv {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mycompanyLogo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logoText {
  font-weight: 600;
  color: var(--textColor);
  font-size: 1.2rem;
}

.morelogoText {
  font-size: 1rem;
  color: var(--textColor);
  opacity: 0.7;
  padding-block: 0.5rem;
}
/* card  */
.card {
  padding: 2rem 1rem;
  background-color: #3b82f6;
  border-radius: 10px;
}
.cardText,
.morecardText {
  margin-bottom: 1rem;
}
.cardText {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
.morecardText {
  color: var(--textColor);
  font-size: 1rem;
  font-weight: bold;
}
.cardBtn {
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: #2a68ff;
  transition: all ease-in-out 1s;
  &:hover {
    color: white;
    cursor: pointer;
    background-color: black;
  }
}

/* footer */

.footerDiv {
  padding: 3rem;
  background-color: rgb(1, 1, 12);
  color: #3b82f6;
}
.footerText {
  font-size: 2rem;
}

.morefooterText {
  opacity: 70%;
  line-height: 1.75rem;
  padding-block: 2rem;
}

.titleDiv {
  font-size: 1.2rem;
  font-weight: 600;
  margin-block: 1.5rem;
}
.footerlist li {
  opacity: 70%;
  margin-block: 1rem;

  &:hover {
    opacity: 1;
  }
}
/* contact us  */
.contactInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block-start: 0.5rem;
}
.contactIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  color: white;
  border: solid white;
  border-radius: 50%;
  margin-left: 1rem;
  transition: all ease-in-out 0.6s;

  &:hover,
  &:focus {
    color: rgb(14, 51, 186);
    border: solid #2a68ff;
  }
}

/* media queries - universal */
@media only screen and (min-width: 400px) {
  /* search - secDiv fix */
  .secDiv {
    padding-right: 3rem;
  }

  .relevanceLabel {
    font-size: 1rem;
    color: white;
    font-weight: 600;
  }
  .durationLabel {
    margin-left: 1rem;
  }
  .typeLabel {
    margin-left: 5rem;
  }
  .levelLabel {
    margin-left: 7rem;
  }
  .clearSelect {
    align-self: end;
  }
  /* card  */
  .card {
    padding: 5rem;
  }
  .cardText,
  .morecardText {
    margin-bottom: 1rem;
  }
  .cardText {
    font-size: 2rem;
  }
  .morecardText {
    font-size: 1.2rem;
  }
  .cardBtn {
    padding: 1rem 4rem;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 600px) {
  .one {
    display: flex;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
  }
  .relevanceLabel {
    font-size: 1rem;
    color: white;
    font-weight: 600;
  }
  .durationLabel {
    margin-left: 0;
  }
  .typeLabel {
    margin-left: 0;
  }
  .levelLabel {
    margin-left: 0;
  }
  .clearSelect {
    align-self: center;
  }
}

@media only screen and (width > 700px) {
  .link {
    font-size: 0.9rem;
  }
  .menu {
    display: flex;
    margin-bottom: 0.5rem;
  }
  .searchDiv {
    place-content: center;
  }
  .firstDiv {
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    padding: 2rem;
    border-radius: 10px;
  }
  .relevanceLabel,
  .clearSelect {
    font-size: 0.8rem;
  }
  .clearSelect {
    font-size: 0.8rem;
    font-weight: 600;
    border: solid 1px white;
    padding: 0 1.5rem;
    border-radius: 10px;
    margin-left: 1rem;
  }
  .selection {
    padding: 0.3rem 0.3rem;
    margin-inline: 0.5rem;
  }
  .jobsContainer {
    padding-block: 3rem;
  }
  .singleJob {
    width: 100%;
    padding: 0.5rem 1rem;
  }
  .singleJobHead,
  .jobInfo,
  .companyName,
  .durationText,
  .typeText,
  .levelText {
    font-size: 1rem;
  }
  .applyBtn {
    padding-block: 0.5rem;
  }
  .durationText {
    font-size: 0.8rem;
  }
  .durationIcon {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 800px) {
  .logo {
    margin-left: 0.5rem;
  }
}
/* media queries - slightly bigger */
@media only screen and (700px < width <= 800px) {
  .jobsContainer {
    padding-inline: 0.5rem;
  }
  .typeText {
    font-size: 0.7rem;
    margin-top: 0;
  }
  .levelText {
    font-size: 0.7rem;
  }
  .jobInfo {
    padding-top: 0.3rem;
    border-top: 2px solid;
    margin-top: 0.3rem;
  }

  .companyLogo {
    width: 30px;
    height: 30px;
    border: solid #2a68ff 2px;
    border-radius: 50%;
  }
}
/* media queries - bigger */
@media only screen and (width > 800px) {
  .App {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 1fr;
    gap: 2rem;
  }
  /* header */
  .logo {
    display: none;
  }
}
@media only screen and (800px < width <= 1000px) {
  .menu {
    display: flex;
    margin-bottom: 0.5rem;
  }
  .searchDiv {
    place-content: center;
  }
  .firstDiv {
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 2rem;
  }
  .jobsContainer {
    padding-inline: 0.5rem;
  }
  .jobInfo {
    padding-top: 0.3rem;
    border-top: 2px solid;
    margin-top: 0.3rem;
  }

  .companyLogo {
    width: 30px;
    height: 30px;
    border: solid #2a68ff 2px;
    border-radius: 50%;
  }
}

/* media queries - biggest */
@media only screen and (width > 1000px) {
  .link {
    font-size: 1rem;
  }
  .jobsContainer {
    padding-inline: 0.3rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .jobInfo {
    padding-top: 0.2rem;
    border-top: 2px solid;
    margin-top: 0.2rem;
  }
  .singleJobHead,
  .jobInfo,
  .companyName,
  .durationText,
  .typeText,
  .levelText {
    font-size: 0.8rem;
  }

  .companyLogo {
    width: 30px;
    height: 30px;
    border: solid #2a68ff 2px;
    border-radius: 50%;
  }
}
